body {
    background: rgb(255, 255, 255);
}



/*/ אייקונים למעלה  /*/

.first {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 1%;
}




/*כפתור מידע על המחנות למעלה*/
:root {
    --modal-duration: 2s;
    --modal-color: #d69110;
}

.modalSlidePop {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.contentPop {
    margin: 10% auto;
    border-radius: 50%;
    background: none;
    width: 60%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
}

.headerPop {
    background: rgb(243, 247, 59);
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.TextPop {
    align-items: center;
    text-align: center;
    display: flex;
    padding: 10px 20px;
    background: url(images/dog.jpg);
    background-size: cover;
    height: 50vh;
    border-radius: 30%
}

.TextPop p {
    background: rgb(255, 255, 255);
    border-radius: 2%;
    opacity: 0.6;
    font-weight: bold;
}

.footerPop {
    background: var(--modal-color);
    padding: 10px;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-radius: 50%;
    border: 0;
}

.headerPop span {
    color: rgb(0, 0, 0);
    font-size: 30px;
}

.headerPop span:hover,
.headerPop span:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@keyframes modalopen {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    .button3 {
        margin-top: 50%;
    }
}


/*/ חיפוש /*/

.form__field {
    color: black;
    text-decoration: none;
    font-family: "Luckiest Guy", cursive;
    width: auto;
    border: 0;
    border-bottom: 1px solid black;
    outline: 0;
    font-size: 9px;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: black;
    font-size: 13px;
}

.form__field:placeholder-shown~.form__label {
    cursor: text;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
}

.form__field:focus {
    padding-bottom: 3px;
    border-width: 3px;
    border-image: linear-gradient(to right, #996911, #38ef7d);
    border-image-slice: 1;
}



/*/  אייקונים למעלה   /*/
.iconLogin a {
    color: black;
    font-size: 13px;
    text-decoration: none;
    font-family: "Luckiest Guy", cursive;
}

.iconShop a {
    color: black;
    font-size: 13px;
    text-decoration: none;
    font-family: "Luckiest Guy", cursive;
}

.iconPhone a {
    color: black;
    font-size: 13px;
    text-decoration: none;
    font-family: "Luckiest Guy", cursive;
}



/*/ אייקון הוספה למועדפים ראשי /*/

.icomF {
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icomF i.fa {
    font-size: 20px;
    font-weight: bold;

}

.cart-total1 {
    position: relative;
    top: -10px;
    left: -4px;
    font-size: 15px;
    min-width: 24px;
    min-height: 23px;
    line-height: 20px;
    border-radius: 100%;
    display: inline-block;
}


.cart-total-2 {
    background: white;
    border: 2px solid rgb(236, 120, 43);
    color: white;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

@media only screen and (max-width: 768px) {

    .form__field {
        text-align: center;
        font-size: 7px;
    }

}



/*/ לוגו של חנות /*/
.info {
    display: flex;
    justify-content: space-around;
    width: auto;
    margin-bottom: 13px;
}

.info img {
    width: 13vh;
    height: 13vh;
    cursor: pointer;
}

/*/   של החנות כותרת /*/
.titleShop {
    margin-bottom: -2%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Luckiest Guy", cursive;
}

.info h5 {
    text-align: center;
    align-items: center;
    font-weight: bold;
}

.titleShop h5 {
    color: rgb(236, 120, 43);
}

.titleShop span {
    transform: scale(0.9);
    display: inline-block;
}

.titleShop span:first-child {
    animation: bop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
}

.titleShop span:last-child {
    animation: bopB 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
}


@keyframes bop {
    0% {
        transform: scale(0.9);
    }

    50%,
    100% {
        transform: scale(1);
    }
}

@keyframes bopB {
    0% {
        transform: scale(0.9);
    }

    80%,
    100% {
        transform: scale(1) rotateZ(-3deg);
    }
}


@media only screen and (max-width: 768px) {

    .titleShop h5 {
        font-size: 16px;
    }

    .info img {
        width: 10vh;
        height: 10vh;
        cursor: pointer;
    }
}



/*/ לוגו סל הוספה /*/

.icomShope {
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icomShope i.fa {
    font-size: 18px;
    height: auto;
    width: auto;
    line-height: 40px;
    display: inline-block;
    border-radius: 50%;
}

.cart-total {
    position: relative;
    top: -60px;
    left: 17px;
    font-size: 15px;
    width: 50%;
    height: auto;
    border-radius: 50%;
    display: inline-block;
}


.cart-icon3 {
    background: rgb(141, 243, 111);
    color: black;
    border: 5px outset rgb(141, 243, 111);
}

.cart-total-3 {
    background: rgb(236, 120, 43);
    border: 2px outset rgb(236, 120, 43);
    border-bottom-left-radius: 10px;
}






/*פןפ אפ סל קניות*/
.cartBox {
    position: fixed;
    right: 23%;
    top: 12%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    transition: 0.3s linear;
    transform: scale(0);
}

@media only screen and (max-width: 1200px) {
    .cartBox {
        width: auto;
        right: 6%;
        top: 15%;
    }
}

.cartBox.active {
    transform: scale(1);
}

.cartBox .cart {
    overflow-y: scroll;
    max-height: 60vh;
    -webkit-overflow-scrolling: touch;
    position: relative;
    height: 25vh;
    width: 100%;
    background: url(images/template_main.jpg);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 2%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartBox .cart i {
    position: absolute;
    right: 5px;
    top: 0;
    background: #f00;
    margin: 1%;
    padding: 10px 10px;
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
}


.cartBox .cart i:hover {
    background: #ff0000a5;
}

.cartBox .cart h1 {
    position: relative;
    font-size: 30px;
    margin-top: 1%;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    font-family: "Luckiest Guy", cursive;
}


.cart table a {
    background: rgb(255, 0, 0);
    border-radius: 10%;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 16px;
}

.cart img {
    width: 40px;
    height: 40px;
}

.BoxIt {
    border: 5px dashed orange;
    background: whitesmoke;
    opacity: 0.6;
    font-family: "Luckiest Guy", cursive;
}

.xx {
    color: coral;
    font-size: 15px;
}


.ss {
    color: darkcyan;
    font-size: 15px;

}

.vv {
    color: rgb(255, 0, 234);
    font-size: 15px;
}




/*פןפ אפ סל  מועדפיםת*/
.cartBoxXX {
    position: fixed;
    right: 23%;
    top: 12%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    transition: 0.3s linear;
    transform: scale(0);
}

.cartVV p {
    font-size: 30px;
    color: white;
}


@media only screen and (max-width: 1200px) {
    .cartBoxXX {
        width: auto;
        right: 6%;
        top: 15%;
    }
}

.cartBoxXX.active {
    transform: scale(1);
}

.cartBoxXX .cartVV {
    overflow-y: scroll;
    max-height: 60vh;
    -webkit-overflow-scrolling: touch;
    position: relative;
    height: 25vh;
    width: 100%;
    background: url(images/template_main.jpg);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 2%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}




.cartBoxXX .cartVV i:hover {
    background: #ff0000a5;
}

.cartBoxXX .cartVV h1 {
    position: relative;
    margin-top: 1%;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    font-family: "Luckiest Guy", cursive;
}

.closeZ {
    cursor: pointer;
    background: red;
    border-radius: 50%;
    width: 7%;
    margin-top: 2%;
    font-weight: bold;
    display: flex;
    justify-content: center;
}


.cartVV table a {
    background: rgb(255, 0, 0);
    border-radius: 10%;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 16px;
}

.cartVV img {
    width: 40px;
    height: 40px;
}

.BoxIt {
    border: 5px dashed orange;
    background: whitesmoke;
    opacity: 0.6;
    font-family: "Luckiest Guy", cursive;
}

.xx {
    color: coral;
    font-size: 15px;
}


.ss {
    color: darkcyan;
    font-size: 15px;
}

.vv {
    color: rgb(255, 0, 234);
    font-size: 15px;
}






/*תפריט*/
.menu {
    height: auto;
    background: url(images/template_main.jpg);
    border-radius: 5%;
    position: relative;
    margin-bottom: -8px;
    -webkit-box-shadow: 0px -200px 80px 0px rgba(255, 238, 0, 0.3);
    -moz-box-shadow: 0px -200px 80px 0px rgba(255, 238, 0, 0.3);
    box-shadow: 0px -200px 80px 0px rgba(255, 238, 0, 0.3);
}

.links {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 15%;
}


.links img {
    width: 63px;
    height: 63px;
}

.links a {
    text-decoration: none;
    color: #555;
    font-family: "Luckiest Guy", cursive;
    font-size: 18px;
}

@media screen and (max-width: 768px) {

    .menu {
        margin-bottom: 5%;
    }

    .menu ul {
        position: fixed;
        z-index: 2;
        padding: 5%;
    }


    .line {
        width: 30px;
        height: 3px;
        background: rgb(0, 0, 0);
        margin: 5px;
    }

    .hamburger {
        background: rgb(243, 247, 59);
        border: 4px solid rgb(255, 255, 255);
        border-radius: 25%;
        margin-top: -4%;
        position: absolute;
        cursor: pointer;
        right: 5%;
        transform: translate(-5%, -50%);
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
    }


    .links {
        position: fixed;
        background: url(images/template_main.jpg);
        border-radius: 20% 40% 5%;
        height: auto;
        width: 100%;
        flex-direction: column;
        clip-path: circle(100px at 90% -40%);
        -webkit-clip-path: circle(100px at 90% -40%);
        transition: all 1s ease-out;
    }

    .links.open {
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        opacity: 0.9;
    }

    .landing {
        flex-direction: column;
    }

    .links li {
        opacity: 0;
    }

    .links li a {
        font-size: 25px;
    }

    .links li:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }

    .links li:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }

    .links li:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }

    .links li.fade {
        opacity: 1;
    }
}








/*/  סיום אתר /*/

.footer-distributed {
    background-color: #554d3d;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 15px;
    margin-top: 2%;
    border-top-right-radius: 20%;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

.footer-distributed .footer-left img {
    width: 15%;
    height: auto;
}

.footer-distributed h3 span {
    color: #e0ac1c;
}

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin-top: 2%;
}

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #e0ac1c;
    text-decoration: none;
    ;
}

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

@media (max-width: 880px) {

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}


.footer-left img {
    width: 80px;
    height: 100px;
}




/*/  ציאט עזרה ללקוחות/*/
.chatbox {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
    bottom: 0;
    position: fixed;
    right: 1em;
    -webkit-transform: translatey(23.5em);
    transform: translatey(23.5em);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    width: 18.5em;
    font-family: "Luckiest Guy", cursive;

}

.chatbox--is-visible {
    -webkit-transform: translatey(0);
    transform: translatey(0);
}

.chatbox__header {
    display: flex;
    align-items: center;
    text-align: center;
    background: rgb(236, 120, 43);
    border: 2px outset rgb(255, 255, 255);
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0 0.75em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.chatbox__header-cta-text {
    outline: none;
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-size: 1.025rem;
}

.chatbox__header-cta-icon {
    color: #fff;
    margin-right: 0.75em;
}

.chatbox__header-cta-btn {
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    outline: none;
    padding: 0.5em;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;

}

.chatbox__header-cta-btn:hover {
    color: #fff;
}

.chatbox__display {
    background: url(images/help.jpg);
    background-size: cover;
    width: 100%;
    height: 20em;
    overflow: auto;
    padding: 0.75em;
}

.chatbox__display-chat {
    background: #fff;
    opacity: 0.7;
    font-weight: bold;
    border-radius: 0.5em;
    color: #666;
    font-size: 15px;
    line-height: 1.5;
    padding: 0.75em;
    text-align: justify;
}

.chatbox__form {
    display: -webkit-box;
    display: flex;
}

.chatbox__form-input {
    border: none;
    outline: none;
    background: rgb(243, 247, 59);
    color: #222;
    font-size: 0.9rem;
    padding: 1.25em 1em;
    width: 100%;
}

.chatbox__form-input:required {
    box-shadow: none;
}

.chatbox__form-submit {
    border: none;
    background: rgb(141, 243, 111);
    color: rgb(0, 0, 0);
    padding: 1em;
}




/*/ דף קשר פןפ אפ/*/
#ButtonContact2 {
    color: rgb(0, 0, 0);
    border: none;
    outline: none;
    font-size: 24px;
    font-weight: 200;
    overflow: hidden;
    position: relative;
    border-radius: 2px;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.Phone p {
    margin-top: 10%;
    font-family: "Luckiest Guy", cursive;
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.modal {
    background: url(images/template_main.jpg);
    background-size: cover;

}

#ButtonContact2:after {
    top: -50%;
    z-index: 1;
    content: '';
    width: 150%;
    height: 200%;
    position: absolute;
    left: calc(-150% - 40px);
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-transform: skewX(-40deg);
    -moz-transform: skewX(-40deg);
    -ms-transform: skewX(-40deg);
    -o-transform: skewX(-40deg);
    transform: skewX(-40deg);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

#ButtonContact2:hover {
    cursor: default;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#ButtonContact2:hover:after {
    -webkit-transform: translateX(100%) skewX(-30deg);
    -moz-transform: translateX(100%) skewX(-30deg);
    -ms-transform: translateX(100%) skewX(-30deg);
    -o-transform: translateX(100%) skewX(-30deg);
    transform: translateX(100%) skewX(-30deg);
}

#ButtonContact2.active {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

#ButtonContact2.active .modal {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

#ButtonContact2 .modal {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform-origin: center center;
    -webkit-transform: scale(0.000001, 0.00001);
    -moz-transform: scale(0.000001, 0.00001);
    -ms-transform: scale(0.000001, 0.00001);
    -o-transform: scale(0.000001, 0.00001);
    transform: scale(0.0, 0.0);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}



.close-button:hover {
    opacity: 0.5;
    cursor: pointer;
}

.form-title {
    margin-bottom: 15px;
}

.form-button {
    text-decoration: none;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    color: #ffffff;
    margin-top: 10px;
    max-width: 400px;
    text-align: center;
    border: solid 2px white;
    background-color: rgb(255, 194, 103);
    -webkit-transition: color 0.2s ease-in, background-color 0.2s ease-in;
    -moz-transition: color 0.2s ease-in, background-color 0.2s ease-in;
    -ms-transition: color 0.2s ease-in, background-color 0.2s ease-in;
    -o-transition: color 0.2s ease-in, background-color 0.2s ease-in;
    transition: color 0.2s ease-in, background-color 0.2s ease-in;
}

.form-button:hover {
    color: white;
    cursor: pointer;
    background-color: transparent;
}

.input-group {
    width: 100%;
    font-size: 16px;
    max-width: 400px;
    padding-top: 20px;
    position: relative;
    margin-bottom: 15px;
}

.input-group input {
    width: 100%;
    color: rgb(134, 134, 134);
    border: none;
    outline: none;
    padding: 5px 0;
    line-height: 1;
    font-size: 16px;
    font-family: 'Raleway';
    border-bottom: solid 1px rgb(151, 151, 151);
    background-color: transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    -ms-transition: box-shadow 0.2s ease-in;
    -o-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}

.input-group input+label {
    left: 0;
    top: 20px;
    position: absolute;
    pointer-events: none;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.input-group input:focus {
    box-shadow: 0 1px 0 0 white;
}

.input-group input:focus+label,
.input-group input.active+label {
    font-size: 12px;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
}



/*/  כניסה משתמש פןפאפ /*/
#ButtonLogin1 {
    color: rgb(0, 0, 0);
    border: none;
    outline: none;
    font-size: 24px;
    font-weight: 200;
    overflow: hidden;
    position: relative;
    border-radius: 2px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #00a7ee;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

#ButtonLogin1:after {
    top: -50%;
    z-index: 1;
    content: '';
    width: 150%;
    height: 200%;
    position: absolute;
    left: calc(-150% - 40px);
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-transform: skewX(-40deg);
    -moz-transform: skewX(-40deg);
    -ms-transform: skewX(-40deg);
    -o-transform: skewX(-40deg);
    transform: skewX(-40deg);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

#ButtonLogin1:hover {
    cursor: default;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#ButtonLogin1:hover:after {
    -webkit-transform: translateX(100%) skewX(-30deg);
    -moz-transform: translateX(100%) skewX(-30deg);
    -ms-transform: translateX(100%) skewX(-30deg);
    -o-transform: translateX(100%) skewX(-30deg);
    transform: translateX(100%) skewX(-30deg);
}

#ButtonLogin1.active {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

#ButtonLogin1.active .modal {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

#ButtonLogin1 .modal {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform-origin: center center;
    -webkit-transform: scale(0.000001, 0.00001);
    -moz-transform: scale(0.000001, 0.00001);
    -ms-transform: scale(0.000001, 0.00001);
    -o-transform: scale(0.000001, 0.00001);
    transform: scale(0.0, 0.0);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}



/*/ כניסה הובלות פופאפ/*/
#ButtonTerms3 {
    border: none;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.modal .close-button {
    font-size: 50px;
    top: 20px;
    right: 20px;
    position: absolute;
    -webkit-transition: opacity 0.2s ease-in;
    -moz-transition: opacity 0.2s ease-in;
    -ms-transition: opacity 0.2s ease-in;
    -o-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
}

#ButtonTerms3:after {
    top: -50%;
    z-index: 1;
    content: '';
    width: 150%;
    height: 200%;
    position: absolute;
    left: calc(-150% - 40px);
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-transform: skewX(-40deg);
    -moz-transform: skewX(-40deg);
    -ms-transform: skewX(-40deg);
    -o-transform: skewX(-40deg);
    transform: skewX(-40deg);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

#ButtonTerms3:hover {
    cursor: default;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#ButtonTerms3:hover:after {
    -webkit-transform: translateX(100%) skewX(-30deg);
    -moz-transform: translateX(100%) skewX(-30deg);
    -ms-transform: translateX(100%) skewX(-30deg);
    -o-transform: translateX(100%) skewX(-30deg);
    transform: translateX(100%) skewX(-30deg);
}

#ButtonTerms3.active {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

#ButtonTerms3.active .modal {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

#ButtonTerms3 .modal {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform-origin: center center;
    -webkit-transform: scale(0.000001, 0.00001);
    -moz-transform: scale(0.000001, 0.00001);
    -ms-transform: scale(0.000001, 0.00001);
    -o-transform: scale(0.000001, 0.00001);
    transform: scale(0.0, 0.0);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.modal h2 {
    display: flex;
    align-items: center;
    text-align: center;
    font-family: "Luckiest Guy", cursive;

}

.services {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media only screen and (max-width: 760px) {
    .services {
        overflow-y: scroll;
        max-height: 100vh;
        -webkit-overflow-scrolling: touch;
    }
}

.service-1 {
    width: 380px;
    height: auto;
    padding: 6px;
    margin: 40px;
    border-radius: 10px;
}

.description p {
    font-size: 13px;
}

.img {
    padding-top: 30px;
}

.img img {
    height: 150px;
    width: 100%;
}

.description {
    padding-bottom: 30px;
    text-align: center;
    margin-top: 10px;
}

.shapes {
    position: relative;
}

.shape-1,
.shape-2,
.shape-3,
.shape-4,
.shape-5,
.shape-6 {
    width: 15px;
    height: 20px;
    border-radius: 35px;
    position: absolute;
}

.right {
    right: 0;
}

.shape-1 {
    right: 40px;
    background: #FF8427;
    top: -30px;
    transition: all linear .5s;
}

.shape-2 {
    right: 20px;
    background-color: #fff;
    top: -10px;
    transition: all linear .5s;
}

.shape-3 {
    background: #FF8427;
    top: -30px;
    transition: all linear .5s;
}

.service-1:hover .shape-1 {
    top: -20px;
}

.service-1:hover .shape-2 {
    top: -20px;
}

.service-1:hover .shape-3 {
    top: -20px;
}

.shape-4 {
    background-color: #fff;
    top: -27px;
    transition: all linear .5s;
}

.shape-5 {
    background-color: #fbff00;
    left: 20px;
    top: -10px;
    transition: all linear .5s;
}

.shape-6 {
    background-color: #fff;
    left: 40px;
    top: -10px;
    transition: all linear .5s;
}

.service-1:hover .shape-4 {
    top: -5px;
}

.service-1:hover .shape-5 {
    top: 0;
}

.service-1:hover .shape-6 {
    top: -13px;
}

.infoService p {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 15px;
}

.infoService h5 {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 16px;
    color: red;
}

.infoService h6 {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.infoService h4 {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 20px;
}

.infoService h3 {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: bold;
}





/*/לחיצה על אייקון מציאת חנות /*/
#ButtonMap4 {
    color: white;
    border: none;
    outline: none;
    font-size: 24px;
    font-weight: 200;
    overflow: hidden;
    position: relative;
    border-radius: 2px;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: #00a7ee;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

#ButtonMap4:after {
    top: -50%;
    z-index: 1;
    content: '';
    width: 150%;
    height: 200%;
    position: absolute;
    left: calc(-150% - 40px);
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-transform: skewX(-40deg);
    -moz-transform: skewX(-40deg);
    -ms-transform: skewX(-40deg);
    -o-transform: skewX(-40deg);
    transform: skewX(-40deg);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

#ButtonMap4:hover {
    cursor: default;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#ButtonMap4:hover:after {
    -webkit-transform: translateX(100%) skewX(-30deg);
    -moz-transform: translateX(100%) skewX(-30deg);
    -ms-transform: translateX(100%) skewX(-30deg);
    -o-transform: translateX(100%) skewX(-30deg);
    transform: translateX(100%) skewX(-30deg);
}

#ButtonMap4.active {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

#ButtonMap4.active .modal {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

#ButtonMap4 .modal {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform-origin: center center;
    -webkit-transform: scale(0.000001, 0.00001);
    -moz-transform: scale(0.000001, 0.00001);
    -ms-transform: scale(0.000001, 0.00001);
    -o-transform: scale(0.000001, 0.00001);
    transform: scale(0.0, 0.0);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}



.titleMap {
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Luckiest Guy", cursive;
}

.ititleMap h5 {
    text-align: center;
    align-items: center;
    font-weight: bold;
}

.titleMap h5 {
    color: rgb(236, 120, 43);
}

.titleMap span {
    transform: scale(0.9);
    display: inline-block;
}

.titleMap span:first-child {
    animation: bop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
}

.titleMap span:last-child {
    animation: bopB 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
}


@keyframes bop {
    0% {
        transform: scale(0.9);
    }

    50%,
    100% {
        transform: scale(1);
    }
}

@keyframes bopB {
    0% {
        transform: scale(0.9);
    }

    80%,
    100% {
        transform: scale(1) rotateZ(-3deg);
    }
}




/*/מוצר /*/

.product {
    margin-top: 6%;
    margin-bottom: 3%;
}

.product h1,
h2,
h3 {
    margin: 0;
    padding: 0;
    border: 0;
}

.product h1 {
    font-size: 30px;
}

.product h2 {
    color: #aaa;
    font-size: 18px;
    font-weight: 400;
}

.product p {
    font-size: 15px;
    line-height: 1.5;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}

.size {
    width: 50%;
    height: auto;
    float: left;
}

.product-image .bg {
    border-radius: 10%;
    margin-top: 10%;
    background-image: url("images/qw1.jpg");
    background-size: cover;
    background-position: center top;
}

.bg {
    height: 42vh;
    width: 42%;
}

.product-info h1 {
    margin-bottom: 5px;
    font-family: "Luckiest Guy", cursive;
    color: #38ef7d;
}

.product-info h2 {
    margin-bottom: 50px;
    font-size: 30px;
}

.product-info a.add-btn {
    background-color: #444;
    border-radius: 2px;
    color: #eee;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 30px;
    padding: 8px 100px;
    text-align: center;
    text-decoration: none;
    transition: all 400ms ease;
}

a.add-btn:hover {
    background-color: #555;
}

.product-info p {
    margin-bottom: 30px;
}

.product-info ul {
    font-size: 13px;
    padding: 0;
    margin-bottom: 20px;
}

.product-info li {
    list-style-type: none;
}

.product-info li::before {
    content: "\2022";
    margin-right: 20px;
}


/*/  לחצן הוספה של מוצר וחיסור/*/
.value-button {
    display: inline-block;
    border: 1px solid #ddd;
    width: 35px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    padding: 8px 0;
    background: #eee;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-bottom: 4%;
    font-weight: bold;
}

.value-button:hover {
    cursor: pointer;
}

form #decrease {
    margin-right: -4px;
    border-radius: 50%;
    background: rgb(255, 145, 72);
}


form #increase {
    margin-left: -4px;
    border-radius: 50%;
    background: rgb(243, 247, 59);
}

form #input-wrap {
    margin: 0px;
    padding: 0px;
    border-radius: 5%;

}

input#number {
    text-align: center;
    border: none;
    border-radius: 50%;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    width: 50px;
    height: auto;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/*/ כותרת של תגובות /*/
.titleBox {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: "Luckiest Guy", cursive;
}

/*/ תגובות/*/
.BoxInput {
    position: relative;
    margin-top: 50px;
    background: url(images/template_main.jpg);
    width: 100%;
    height: min-content;
    padding: 20px 0;
    text-align: center;
    border-radius: 20%;
    overflow: hidden;
    border: 4px solid rgb(255, 255, 255);
}

.BoxInput ::placeholder {
    text-align: center;
    font-size: 15px;
    font-family: "Luckiest Guy", cursive;

}

.BoxInput input,
.BoxInput button {
    height: 35px;
    width: 90%;
    border-radius: 50px;
    font-size: 18px;
    margin: 5px;
    outline: none;
}

.BoxInput input {
    border: 2px solid #0094a236;
    padding-left: 12px;
    margin-bottom: 12px;
    transition: .4s;
    text-align: center;
    outline: none;
}

.BoxInput input:focus {
    border: 2px solid #00bcd4;
}

.BoxInput button {
    Cursor: pointer;
    background-color: #c0b49d;
    letter-spacing: 2px;
    transition: .4s;
    width: 25%;
    font-size: 16px;
    font-family: "Luckiest Guy", cursive;

}

.BoxInput button:hover {
    background: #FF8427;

}

.list {
    display: grid;
    text-align: center;
    font-family: "Luckiest Guy", cursive;

}

.kot {
    background: rgb(253, 255, 123);
    width: 96%;
    border-radius: 50%;
}

.kot h6 {
    font-weight: bold;
}


.Box {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}














/*/  ציאט עזרה ללקוחות/*/
.chatbox {
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
    bottom: 0;
    position: fixed;
    right: 1em;
    -webkit-transform: translatey(23.5em);
    transform: translatey(23.5em);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    width: 18.5em;
    font-family: "Luckiest Guy", cursive;

}

.chatbox--is-visible {
    -webkit-transform: translatey(0);
    transform: translatey(0);
}

.chatbox__header {
    display: flex;
    align-items: center;
    text-align: center;
    background: rgb(236, 120, 43);
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0 0.75em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.chatbox__header-cta-text {
    outline: none;
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-size: 1.025rem;
}

.chatbox__header-cta-icon {
    color: #fff;
    margin-right: 0.75em;
}

.chatbox__header-cta-btn {
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    outline: none;
    padding: 0.5em;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;

}

.chatbox__header-cta-btn:hover {
    color: #fff;
}

.chatbox__display {
    background: url(images/help.jpg);
    background-size: cover;
    width: 100%;
    height: 20em;
    overflow: auto;
    padding: 0.75em;
}

.chatbox__display-chat {
    background: #fff;
    opacity: 0.7;
    font-weight: bold;
    border-radius: 0.5em;
    color: #666;
    font-size: 15px;
    line-height: 1.5;
    padding: 0.75em;
    text-align: justify;
}

.chatbox__form {
    display: -webkit-box;
    display: flex;
}

.chatbox__form-input {
    border: none;
    outline: none;
    background: rgb(243, 247, 59);
    color: #222;
    font-size: 0.9rem;
    padding: 1.25em 1em;
    width: 100%;
}

.chatbox__form-input:required {
    box-shadow: none;
}

.chatbox__form-submit {
    border: none;
    background: rgb(141, 243, 111);
    color: rgb(0, 0, 0);
    padding: 1em;
}












/*/מוצרים נמכרים ביותר/*/

.topPro {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2%;
}

.cardd {
    width: 200px;
    height: 280px;
    background: #f4f4f4;
    position: relative;
    border-radius: 15%;
    box-shadow: 0;
    transform: scale(0.95);
    transition: box-shadow .5s ease-in-out,
        transform .5s ease-in-out;
    overflow: hidden;
    margin: 1%;
    border: 5px solid rgb(255, 255, 241);
}

.cardd:hover {
    transform: scale(1);
    box-shadow: 5px 20px 30px rgba(0, 0, 0, .2);
}

.imgBox {
    width: 100%;
    height: 80%;
    overflow: hidden;
}

.imgBox img {
    width: 100%;
    height: 100%;
}

.details {
    position: absolute;
    width: 100%;
    height: 50%;
    background: #ffdc73;
    padding: 10px 20px;
    bottom: -30%;
    transition: .5s;
}

.details:hover {
    bottom: 0;
}

.textContent {
    position: relative;
    margin-top: 10px;
    color: #555;
}

.textContent h3 {
    font-size: 18px;
    padding: 5px 0;
    font-family: "Luckiest Guy", cursive;
}

.price {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    font-family: "Luckiest Guy", cursive;
}


.details button {
    width: 100%;
    padding: 5px 0;
    margin: 10px 0;
    background: #b6b432;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: "Luckiest Guy", cursive;

}

.details button:hover {
    background: #ffffff;
}

.description1 {
    background: rgb(193, 255, 113);
    position: absolute;
    width: 140px;
    height: 140px;
    top: -70px;
    right: -70px;
    border-radius: 0 0 200px 200px;
    transition: all .5s, border-radius 1s, top 1s;
    display: flex;
    align-items: center;
    text-align: center;
}

.description1 .icon {
    position: absolute;
    top: 85px;
    right: 85px;
    color: rgb(0, 0, 0);
    opacity: 1;
}

.description1:hover {
    width: 100%;
    height: 80%;
    right: 0;
    top: 0;
    border-radius: 0;
}

.description1:hover .icon {
    opacity: 0;
}

.description1 .contents {
    color: #fff;
    padding: 5%;
    transform: scale(0.5);
    transform: translateY(-200%);
    transition: opacity .2s, transform .8s;
    opacity: 0;
}

.description1:hover .contents {
    transform: scale(1);
    opacity: 1;
    transform: translateY(0);
}

.description1 h2 {
    margin: 20px 0;
    text-align: center;
    font-size: 17px;
    font-family: "Luckiest Guy", cursive;
    color: rgb(0, 0, 0);
}

.contents p {
    font-size: 15px;
    color: rgb(0, 0, 0);
    font-family: "Luckiest Guy", cursive;

}